* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    margin-top: 10px;
  


}
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    
}

#nav-part1{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2px;
}

.gola{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 30px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#nav-part2 h4{
    font-size: 18px;
    font-weight: 600;
}

#nav-part2 h4 span{
    color: grey;
    margin-left: 20px;
}

#nav2{
    height: 70px;
    width: 100%;
 
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0 40px;

}

#nav2 h3{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

#content{
    height: 638px;
    width: 100%;

}

#text-content{
    height: 47%;
    width: 100% ;
    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
 
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}


.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 100px;
    font-weight: 300;
}

#image-content{
    height: 52%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    
}

#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}